WEBDIAG_MONITORING_INTERNAL_TOKEN=
WEBDIAG_CRAWLER_INTERNAL_TOKEN=
WEBDIAG_CRAWLER_PAGE_LIMIT=100
WEBDIAG_CRAWLER_DEADLINE_SECONDS=240
WEBDIAG_CRAWLER_LEASE_SECONDS=300
WEBDIAG_CRAWLER_WORKER_TIMEOUT_SECONDS=270
WEBDIAG_CRAWLER_ACTIVE_JOB_LIMIT_PER_USER=2
WEBDIAG_CRAWLER_ACTIVE_JOB_LIMIT_GLOBAL=25
